{{#each data}}
  <li class='contact_item'>
    <div class=''>
      <h2 class='contact_name'>
        {{firstname}}
        {{lastname}}
      </h2>
      <p class='item'>
        {{email}}
      </p>
      <p class='item'>
        {{phone}}
      </p>
      <p class='item'>
        {{birthday}}
      </p>
      <p class='item'>
        {{gender}}
      </p>
      <p class='item'>
        <a href='#'> {{cutWebSite website}}</a>
      </p>
    </div>
  </li>
{{/each}}